body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #9fccc3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.item-title{
  font-weight: bold;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 10px;
}

header h1 {
  font-size: 2em;
  margin: 0;
}

.user-icon {
  top: 10px;
  left: 10px;
}

.user-icon img {
  width: 150px;
  height: auto;
}

.banner img {
  width: 80%;
  display: block;
  border-radius: 10px;
  align-content: center;
}

.search {
  display: flex;
  margin-bottom: 20px;
}

.search input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
}

.categories {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.categories::-webkit-scrollbar {
  display: none;
}

.category {
  background-color: #ffffff;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 60px;
  justify-content: center;
  cursor: pointer;
}

.category img {
  width: 40px;
  height: 40px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: flex;
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  position: relative;
  align-items: center;
}

.item-image {
  width: 120px;
  height: 120px;
  background-color: #ddd;
  border-radius: 8px;
  margin-right: 15px;
  overflow: hidden;
}

.item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-details {
  flex: 1;
  position: relative;
}

.item-category {
  position: absolute;
  top: 10px;
  right: 50px;
  background-color: #FFD700;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.9em;
  font-weight: bold;
  z-index: 2;
}

.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  font-size: 1.2em;
  z-index: 3;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  
  .categories {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .category {
    flex: 1 1 45%;
    max-width: 150px;
    height: auto;
    font-size: 0.9em;
    padding: 10px;
  }

  .category img {
    width: 30px;
    height: 30px;
  }

  .item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .item-image {
    width: 100%;
    max-width: 180px;
    height: auto;
  }
  
  .item-category {
    position: static;
    display: block;
    text-align: center;
    margin-top: 10px;
  }

}

#rodape{  
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-content: center;
}

#info{
  width: 80%;
  margin: 10px;
  text-align: right;
  color: #6e6e6ecc;
}

#imagem_rodape{
  text-align: left;
}